<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel = "stylesheet" href= "{% static 'css/styles.css' %}" >
</head> 
<body>
  <header>
    Made By 200020120 and 200040150<br>
    
    <h1> Welcome to Github Profiles</h1>
    {%if user.is_authenticated %}
      <a href = "{% url 'explore' %}"> explore </a> &nbsp;
      <a href = "{% url 'profile' user.username %}"> My Profile </a> &nbsp;  
      <a href="{% url 'logout' %}">Log Out</a>
      
    {% else %}
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
  </header>
  <main>
    
    {%load tz%}{% timezone "Asia/Kolkata" %}
    {% block content %}
    {% endblock %}
    {% endtimezone %}
  </main>
</body>
</html>