<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width-10px, initial-scale=1">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel = "stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <link rel = "stylesheet" href= "{% static 'css/styles.css' %}" > 
  <script src="{% static 'js/bootstrap.min.js' %}"></script>  
</head> 
<body>
  <header>
    Made By 200020120 and 200040150<br>
    
    <h1> Welcome to Github Profiles</h1>
    {%if user.is_authenticated %}
      <a class = "btn btn-primary" href = "{% url 'explore' %}" role = "button"> explore </a> &nbsp;
      <a class = "btn btn-primary" href = "{% url 'profile' user.username %}" role = "button"> My Profile </a> &nbsp;  
      <a class = "btn btn-primary" href="{% url 'logout' %}" role = "button">Log Out</a>
      
    {% else %}
      <a class = "btn btn-primary" href="{% url 'signup' %}" role = "button">Sign Up</a>
      <a class = "btn btn-primary" href="{% url 'login' %}" role = "button">Log In</a>
    {% endif %}
  </header>
  <main>
    
    {%load tz%}{% timezone "Asia/Kolkata" %}
    {% block content %}
    {% endblock %}
    {% endtimezone %}
  </main>
</body>
</html>