{% extends 'base.html' %}

{% block title %}myProfile{% endblock %}

{% block content %}
<H2>{{user.first_name}} {{user.last_name}} (@{{user.username}})</H2> 
<ol>
    <li>{{user.profiles.numOfFollowers}} Followers
    <li>profile last updated: {{user.profiles.lastUpdated}} <button type = "button" value ="hello there" onclick = "location.href = '{% url "update" user.username %}'" > hello </button>
</ol>
{% for obj in user.profiles.repository_set.all %}
    <ul>
        <li> {{ obj.name }} - {{obj.stars}} Stars</li>
    </ul> 
{% endfor %}
{% endblock %}