{% extends 'base.html' %}

{% block title %}myProfile{% endblock %}

{% block content %}
<H2>{{pro.first_name}} {{pro.last_name}} (@{{pro.username}})</H2> 
<ol>
    <li>{{pro.profiles.numOfFollowers}} Followers
    <li>profile last updated: {{time}} {% if pro.username == user.username %}<button type = "button"  onclick = "location.href = '{% url 'update' pro.username %}'" > Update </button> {%endif%}
</ol>

{% for obj in pro.profiles.repository_set.all %}
    <ul>
        <li> {{ obj.name }} - {{obj.stars}} Stars</li>
    </ul> 
{% endfor %}
{% endblock %}