
header{
    text-align: center;
    color: red;
    background-color: lightgray;
    padding: 50px;
    border-radius: 5px;
}

H1{
    text-align: center;
    color: black;
}

a{
    background-color: rgb(32, 92, 223);
    padding: 10px;
    border-radius: 5px;
    color:whitesmoke;
    text-align: center;
    text-decoration: none;
}

a.names{
    color: rgb(32, 92, 223);
    padding: 10px;
    border-radius: 5px;
    background-color:white;
    border-left:2px solid rgb(32, 92, 223);
    border-right:2px solid rgb(32, 92, 223);
    text-decoration: none;
}